@import '../../vendor/normalize.css/normalize.css';
@import '../../vendor/bourbon/app/assets/stylesheets/bourbon';

@include font-face('CenturyGothic', '../fonts/gothic', $file-formats: eot ttf woff);

@mixin box-shadow($x, $y, $blur, $spread, $color) {
	-webkit-box-shadow: $x $y $blur $spread $color;
	-moz-box-shadow: $x $y $blur $spread $color;
	box-shadow: $x $y $blur $spread $color;
}

$borderRadius: em(3);
$borderColor: #dbdbdb;
$backColor: #f4f4f4;
$ctgColor: #555;
$badgeBack: #7ab136;
$navColor: #dde1ea;
$hoverColor: #e8e8e8;

body {
	width: 100%;
	overflow: hidden;
}

.sidebar {
	display: inline-block;
	margin-right: em(-5);
	position: absolute;
	z-index: 100;
	height: 100%;
	top: 0;
	left: -220px;
	vertical-align: top;
	background-color: $backColor;

	.sidebar__brand {

		background-color: #425377;
		padding: em(5) 0 em(12) em(40);
		box-sizing: border-box;
		height: em(50);

		span {
			font-family: 'CenturyGothic', sans-serif;
			font-size: em(27);
		}

		span.brand__left {
			color: #fff;
		}

		span.brand__right {
			color: #ff851b;
			position: relative;
			right: em(3);
		}
	}

	.sidebar__search {
		padding: em(10);
		padding-right: 0;
		background-color: $backColor;
		border-bottom: em(1) solid $borderColor;

		.search__input {
			width: em(195);
			padding: em(9) em(8) em(8);
			display: table-cell;
			outline: none;
			font-family: 'Arial', sans-serif;
			font-size: em(13);
			border: em(2) solid $borderColor;
			border-right: none;
			
			@include border-left-radius($borderRadius);

			color: #999;
			background-color: #fafafa;
		}

		.search__btn {
			display: table-cell;
			vertical-align: top;
			font-size: em(12);
			height: em(29);
			border: em(2) solid $borderColor;

			@include border-right-radius($borderRadius);

			background: #fafafa;
			outline: none;
			border-left: none;
			padding: 14px 6px 15px;
			position: relative;
			right: 5px;

			span {
				display: block;
				position: relative;
  				bottom: 8px;
				width: 15px;
				height: 16px;
				background: url('../img/search.png');
			}
		}
	}

	.sidebar__categories {
		width: em(220);
		overflow-y: scroll;

		ul {
			height: 100%;
			margin: 0;
			padding: 0;
			list-style: none;
			border-right: em(1) solid #e3e3e3;

			li {
				cursor: pointer;
				background-color: $backColor;
				border-top: em(1) solid #fff;
				border-bottom: em(1) solid $borderColor;
				transition: background-color 0.3s ease-out;
				-webkit-transition: background-color 0.3s ease-out;

				&:hover {
					background-color: $hoverColor;
					transition: background-color 0.3s ease-in;
					-webkit-transition: background-color 0.3s ease-in;
				}
				
				&.categories__ctg-ext {
					background: url('../img/ext_arrow.png') $backColor no-repeat;
					background-position: em(189) em(17);
				}

				&.categories__ctg-ext:hover {
					background-color: $hoverColor;
				}

				&.active {
					background-color: $hoverColor;
					a {
						border-left: em(4) solid #536895;
					}
				}

				a {
					display: block;
					padding: em(7) em(8);
					text-decoration: none;
					font-family: 'Arial', sans-serif;
					font-weight: 700;
					font-size: em(13);
					color: $ctgColor;

					.ctg__wrapper {
						display: table;
					}

					.ctg__img {
						display: table-cell;
						width: em(40);
						height: em(40);
					}

					.ctg__title {
						padding-left: em(6);
						display: table-cell;
						vertical-align: middle;

						.ctg__messages {
							position: relative;
							right: em(2);
							bottom: em(5);
							padding: em(5) em(12);
							margin-left: em(5);
							background-color: $badgeBack;
							color: #fff;
							font-family: 'Arial', sans-serif;
							font-weight: 700;
							font-size: em(12);
							font-style: italic;
							border-radius: em(15);
						}
					}
				}
			}
		}
	}
}

.dashboard {
	display: inline-block;
	position: relative;
	box-sizing: border-box;
	vertical-align: top;
	width: 100%;
	
	.dashboard__nav {
		box-sizing: border-box;
		height: em(50);
		padding: em(14) em(15) em(13);
		background-color: #536895;
		.nav__sidebar-btn {
			display: inline-block;
			@include user-select(none);
			cursor: pointer;

			.sidebar-btn__bar {
				display: block;
				width: em(22);
				height: em(2);
				margin: em(4) 0;
				background-color: $navColor;
			}
		}
		.nav__quicksettings {
			display: inline-block;
			float: right;
			font-family: 'Arial', sans-serif;
			
			ul {
				list-style: none;
				margin: 0;
				padding: 0;
				@include user-select(none);

				li {
					margin: 0 em(12);
					display: inline-block;
				}

				.list__language, .list__user {
					color: $navColor;
					font-size: em(13);
					font-weight: 700;
					cursor: pointer;
				}

				.list__messages {
					cursor: pointer;
					.messages__number {
						font-size: em(10);
						font-style: italic;
						padding: em(5);
						color: #fff;
						border-radius: em(15);
						background-color: $badgeBack;
						position: relative;
						bottom: em(20);
						right: em(18);
					}

					.messages__icon {
						display: inline-block;
						width: em(15);
						height: em(11);
						position: relative;
						top: em(1);
						background: url('../img/msg.png');
					}
				}
			}
		}
	}

	.dashboard__location {
		padding: em(7) em(22) em(10);
		border-bottom: em(2) solid $borderColor;
		background-color: #fff;
		font-family: 'Arial', sans-serif;
		font-size: em(12);
		@include user-select(none);

		.location__node {
			color: #526692;
			text-decoration: none;
		}

		.location__node:after {
			content: "/";
			margin-left: em(10);
			color: #ccc;
		}

		.location__node.active {
			color: #333;
			margin-left: em(4);
		}

		.location__node.active:after {
			content: "";
		}
	}

	.dashboard__ctg-content {
		padding: em(7) em(14);
		padding-right: em(12);
		display: inline-block;

		.content__title {

			.title__icon {
				display: inline-block;
				background: url('../img/messages.png');
				width: em(32);
				height: em(32);
				position: relative;
				right: em(1);
			}

			h1 {
				display: inline-block;
				position: relative;
				bottom: em(7);
				margin-left: em(2);
				margin-bottom: em(1);
				color: #333;
				font-family: 'Arial', sans-serif;
				font-weight: 400;
				font-size: em(22);
			}

			.title__contacts {
				display: inline-block;
				opacity: 1;
				float: right;
				width: 24px;
				height: 23px;
				background: url('../img/contacts_menu.png');
				cursor: pointer;
				margin-top: em(10);
				margin-right: em(5);
			}
		}

		.content__container {
			padding: em(9) 0 em(8);
			border-top: em(2) solid #536895;
			border-radius: em(3);
			width: 100%;
			@include box-shadow(0, 0, em(2), 0, rgba(0,0,0,0.2));

			.container__name {
				padding: 0 em(11) em(5);
				border-bottom: em(1) solid #e9e9e9;
				.name__photo {
					width: em(48);
					height: em(48);
					display: inline-block;
				}

				h2 {
					display: inline-block;
					margin: 0;
					margin-left: em(6);
					position: relative;
					bottom: em(16);
					color: #333;
					font-weight: 400;
					font-family: 'Arial', sans-serif;
					font-size: em(18);
				}
			}

			.container__settings {
				padding: em(7) em(14) em(14);
				border-bottom: em(1) solid #e9e9e9;
				
				.settings__show {
					display: none;

					button {
						display: block;
						margin: em(3) auto 0;
						padding: em(5) em(20) em(10);
						border: em(2) solid #a5afc3;
						border-radius: em(3);
						font-family: 'Arial', sans-serif;
						font-size: em(12);
						color: #fff;
						background-color: #a9b3ca;
						transition: background-color 0.3s ease-out;
						-webkit-transition: background-color 0.3s ease-out;

						&:hover {
							background-color: #536895;
							transition: background-color 0.3s ease-in;
							-webkit-transition: background-color 0.3s ease-in;
						}
					}
				}

				.settings__group {
					display: inline-block;
					width: em(168);
					margin-right: em(8);
					margin-top: em(2);
					font-family: 'Arial', sans-serif;
					
					&:last-child {
						margin-right: 0;
					}

					label {
						display: block;
						color: #999;	
						font-size: em(12);
						padding-bottom: em(9);					
					}
					
					select {
						cursor: pointer;
						outline: none;
						color: #555;
						background-color: #fff;
						font-size: em(13);
						border: em(2) solid #ccc;
						padding: em(7) em(7) em(8);
						width: 100%;
						option {
							color: #555;
						}
					}
				}
			}

			.container__messages {
				height: em(368);
				padding: 0;
				margin: 0;
				border-bottom: em(1) solid #e9e9e9;
				list-style: none;
				overflow-y: scroll;
				.messages__message {
					padding: em(10);
					margin: em(16) em(36) em(16) em(16);
					border-radius: em(10);
					background-color: #dfe9f7;

					&.mine {
						background-color: #f4f4f4;
						margin: em(33) em(17) em(35) em(30);
						padding: em(12);
						.message__name {
							color: #999;
						}
					}

					.message__name {
						font-family: 'Arial', sans-serif;
						font-weight: 700;
						font-size: em(12);
						color: #333;
						position: relative;
						bottom: em(4);
					}

					.message__date {
						color: #999;
						float: right;
						font-size: em(12);
						margin-right: em(2);
					}

					.message__text {
						margin: 0;
						margin-top: em(6);
						color: #333;
						font-family: 'Arial', sans-serif;
						font-size: em(12);
						@include hyphens(auto);
						line-height: 1.5em;

						.text__attachment {
							display: block;
							
							.attachment__icon {
								display: inline-block;
								position: relative;
								top: 1px;
								width: 10px;
								height: 10px;
								background: url('../img/message_attach.png');
							}

							a {
								font-family: 'Arial', sans-serif;
								font-size: em(16);
								text-decoration: underline;
								color: #526693;	
							}
							
						}
					}
				}
			}

			.container__compose {
				padding: em(14) em(28) em(7);
				
				.compose__text {
					width: 100%;
					textarea {
						box-sizing: border-box;
						outline: none;
						width: 100%;
						padding: em(10) em(17);
						border: em(2) solid #e2e3ea;
						border-top: em(2) solid #abadb3;
						border-radius: em(3);
						font-size: em(12);
						color: #ccc;
						resize: vertical;
					}
				}

				.compose__attach-btn {
					display: inline-block;
					margin-top: em(7);
					padding: em(8) em(9);
					border: em(2) solid #ddd;
					border-bottom: em(3) solid #ddd;
					border-radius: em(3);
					font-family: 'Arial', sans-serif;
					font-size: em(12);
					color: #526794;
					background-color: #fafafa;
					transition: background-color 0.3s ease-out;
					-webkit-transition: background-color 0.3s ease-out;
					outline: none;

					.attach__glyph {
						display: inline-block;
						width: 6px;
						height: 6px;
						margin-right: em(1);
						background: url('../img/attach.png');
					}

					&:hover {
						background-color: $hoverColor;
						transition: background-color 0.3s ease-in;
						-webkit-transition: background-color 0.3s ease-in;
					}
				}

				.compose__attachments {
					display: inline-block;
					list-style: none;
					margin: 0;
					padding: 0;
					li {
						margin: em(9);
						a {
							text-decoration: none;
							color: #536895;
							font-family: 'Arial', sans-serif;
							font-size: em(12);
						}

						.attachments__delete {
							display: inline-block;
							position: relative;
							top: 4px;
							left: 1px;
							width: 16px;
							height: 16px;
							background: url('../img/delete_attach.png');
							cursor: pointer;
						}
					}
				}

				.compose__send-btn {
					display: inline-block;
					margin-top: em(8);
					margin-left: em(1);
					padding: em(9) em(20) em(10);
					border: em(2) solid #a5afc3;
					border-radius: em(3);
					background-color: #a9b3ca;
					transition: background-color 0.3s ease-out;
					-webkit-transition: background-color 0.3s ease-out;
					font-family: 'Arial', sans-serif;
					font-size: em(12);
					color: #fff;
					outline: none;
					float: right;

					&:hover {
						background-color: #536895;
						transition: background-color 0.3s ease-in;
						-webkit-transition: background-color 0.3s ease-in;
					}
				}
			}
		}
	}

	.dashboard__contacts {
		display: inline-block;
		position: absolute;
		right: -221px;
		top: em(78);
		width: em(220);
		vertical-align: top;
		border-left: em(1) solid #dbdbdb;
			
		.contacts__search {
			padding: em(8) em(9) em(10);
			border-bottom: em(1) solid #e9e9e9;
			background: #fff;

			.search__table {
				display: table;
			
				.icon__wrapper {
					position: relative;
					top: em(7);
					left: em(1);

					.search__icon {
						display: table-cell;
						position: relative;
						bottom: em(2);
						width: 24px;
						height: 23px;
						background: url('../img/contacts_menu.png');
						cursor: pointer;
					}
				}
					
				.search__form-control {
					display: table-cell;
					vertical-align: top;
				}

				.search__input {
					display: table-cell;
					vertical-align: top;
					width: em(167);
					position: relative;
					top: em(2);
					left: em(14);
					padding: em(9) em(12) em(9);
					outline: none;
					font-family: 'Arial', sans-serif;
					font-size: em(12);
					border: em(2) solid $borderColor;
					border-right: none;
					
					@include border-left-radius($borderRadius);
					color: #999;
					background-color: #fff;
				}

				.search__btn {
					display: table-cell;
					vertical-align: top;
					box-sizing: border-box;
					font-size: em(12);
					height: em(39);
					border: em(2) solid $borderColor;
					border-left: none;

					@include border-right-radius($borderRadius);

					background: #fff;
					outline: none;
					
					padding: em(10) em(6) em(9);
					position: relative;
					left: em(9);
					top: em(2);

					span {
						display: block;
						position: relative;
	  					bottom: em(3);
	  					right: em(2);
						width: 15px;
						height: 16px;
						background: url('../img/search.png');
					}
				}
			}
		}

		.contacts__list {
			list-style: none;
			margin: 0;
			padding: 0;
			width: 100%;
			overflow-y: scroll;
			background: #fff;

			li {
				background-color: #fff;
				border-bottom: em(1) solid #e9e9e9;
				transition: background-color 0.3s ease-out;
				-webkit-transition: background-color 0.3s ease-out;
				cursor: pointer;
				height: em(41);
				
				a {
					border-right: em(3) solid #fff;
					transition: border-right 0.3s ease-out;
					-webkit-transition: border-right 0.3s ease-out;
				}

				&.active {
					background-color: #f4f4f4;

					&:hover a {
						border-right: em(3) solid #536895;
						transition: border-right 0.3s ease-in;
						-webkit-transition: border-right 0.3s ease-in;
					} 

					a {
						border-right: em(3) solid #536895;
					}
				}

				&:hover {
					background-color: #f4f4f4;
					transition: background-color 0.3s ease-in;
					-webkit-transition: background-color 0.3s ease-in;

					a {
						border-right: em(3) solid #f4f4f4;
						transition: border-right 0.3s ease-in;
						-webkit-transition: border-right 0.3s ease-in;
					}

				}

				a {
					padding: em(4) em(6) em(5);
					display: table;
					text-decoration: none;

					img {
						display: table-cell;
						width: em(32);
						height: em(32);
						border-radius: em(50);
					}
					
					.contact__title {
						display: table-cell;
						vertical-align: middle;
						width: 100%;

						.contact__name {
							padding-left: em(7);
							color: #333;
							font-family: 'Arial', sans-serif;
							font-size: em(12);
							vertical-align: middle;
						}

						.contact__message {
							height: em(15);
							padding: em(5) em(10) em(7);
							border-radius: em(15);
							float: right;
							position: relative;
							bottom: em(7);
							right: em(1);
							vertical-align: middle;
							background-color: $badgeBack;
							color: #fff;
							font-family: 'Arial', sans-serif;
							font-size: em(11);
						}
					}
				}
			}
		}

		.contacts__ctg {
			margin: 0;
			background-color: #f9f9f9;
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				display: inline-block;
				padding: em(8);
				margin-right: em(3);
				cursor: pointer;
				font-size: em(14);
				background-color: #f9f9f9;
				transition: background-color 0.3s ease-out;
				-webkit-transition: background-color 0.3s ease-out;
				
				.ctg__icon {
					display: block;
				}

				.mdrn {
					width: 18px;
					height: 20px;
					background: url('../img/mdrn.png');
				}

				.staff {
					width: 18px;
					height: 20px;
					background: url('../img/staff.png');
				}

				.contacts {
					width: 21px;
					height: 20px;
					background: url('../img/contacts.png');
				}

				&.active {
					background-color: #536895;
					transition: background-color 0.3s ease-out;
					-webkit-transition: background-color 0.3s ease-out;
					.ctg__title {
						color: #fff;
						font-family: 'Arial', sans-serif;
						font-size: em(12);
					}
				}
				
				&:hover {
					background-color: #536895;
					transition: background-color 0.3s ease-out;
					-webkit-transition: background-color 0.3s ease-out;
				}

				.ctg__icon {
					display: block;
					margin: 0 auto;
				}

				.ctg__title {
					font-family: 'Arial', sans-serif;
					font-size: em(12);
					color: #536895;
				}
			}
		}
	}
}